<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcydream.project.dao.InfoMapper">
  <resultMap id="BaseResultMap" type="com.lcydream.project.dao.Info">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="fans" jdbcType="TINYINT" property="fans" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="money" jdbcType="REAL" property="money" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, birthday, createtime, fans, time, money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcydream.project.dao.Info">
    insert into info (id, name, birthday, 
      createtime, fans, time, 
      money)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{createtime,jdbcType=TIMESTAMP}, #{fans,jdbcType=TINYINT}, #{time,jdbcType=TIMESTAMP}, 
      #{money,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lcydream.project.dao.Info">
    insert into info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="fans != null">
        fans,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fans != null">
        #{fans,jdbcType=TINYINT},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        #{money,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcydream.project.dao.Info">
    update info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fans != null">
        fans = #{fans,jdbcType=TINYINT},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcydream.project.dao.Info">
    update info
    set name = #{name,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      fans = #{fans,jdbcType=TINYINT},
      time = #{time,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=REAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>